---
accessLog:
  filePath: "{{ traefikAccesLogFile }}"
api:
  insecure: true
  dashboard: true
  debug: true
log:
  level: INFO
entryPoints:
  traefik:
    address: ':8080'
providers:
  file:
    directory: {{ traefikDynamicConfigFilesDir }}
    watch: true
