{{ ansible_managed | comment }}

{{ traefik_logs_dir }}/*.log {
  daily
  rotate 7
  missingok
  notifempty
  compress
  create 0640 {{ traefik_system_user }} adm
  postrotate
    kill -s USR1 $(pgrep traefik)
  endscript
}
