{{ ansible_managed | comment }}

[Unit]
Description=traefik
Documentation=https://doc.traefik.io/
Wants=network-online.target
After=network-online.target
AssertFileIsExecutable={{ traefik_bin_directory }}/traefik

[Service]
Restart=always
RestartSec=5
TimeoutSec=5
User={{ traefik_system_user }}
Group={{ traefik_system_group }}
EnvironmentFile={{ traefik_env_file }}
ExecStart={{ traefik_bin_directory }}/traefik
PrivateTmp=true
PrivateDevices=false
ProtectHome=true
ProtectSystem=full
ReadWriteDirectories={{ traefik_acme_dir }}
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target