---
log:
  level: {{ traefik_logs_level }}
  filePath: "{{ traefik_logs_dir }}/{{ traefik_log_file }}"
accessLog:
  filePath: "{{ traefik_logs_dir }}/{{ traefik_access_log_file }}"
  bufferingSize: {{ traefik_acceslog_buffering_size }}
api:
  insecure: true
  dashboard: {{ traefik_dashboard_enabled }}
  debug: true
pilot:
  dashboard: {{ traefik_dashboard_pilot_enable }}
providers:
  file:
    directory: {{ traefik_dynamic_config_files_dir }}
    watch: true
